html {
  --color-background: #191d2b;
  --color-background-dark: #272838;
  --color-background-light: #2e344e;
  --color-primary: #347FC4;
  --color-blue: #007bff;
  --color-green: #22A410;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-family: Nunito, sans-serif;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 45px;
}

@media (max-width: 370px){
  h1 {
    font-size: 37px;
  }
  p {
    font-size: 15px;
  }
  
}
