@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&family=Nunito:wght@200;300;400;600;700;800&display=swap');
html {
  --color-background: #191d2b;
  --color-background-dark: #272838;
  --color-background-light: #2e344e;
  --color-primary: #347FC4;
  --color-blue: #347FC4;
  --color-green: #22A410;
  --color-green-dark: #1b830d;
  --color-dark-faint: #7D6B91;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: #f7f7f7;
  font-family: 'Nunito Sans', 'Nunito', sans-serif;
  font-size: 1rem;
}

button, input{
  outline: none!important;
}

p {
  font-size: 18px;
}

h1,h2,h3,h4 {
  margin: 0
}

h2{
  font-weight: normal!important;
  font-size: 1.6rem;
}


@media (max-width: 370px){
  h1 {
    font-size: 37px;
  }
  p {
    font-size: 15px;
  }
  
}
