html {
  --color-background: #191d2b;
  --color-background-dark: #272838;
  --color-background-light: #2e344e;
  --color-primary: #347FC4;
  --color-blue: #347FC4;
  --color-green: #22A410;
  --color-green-dark: #1b830d;
  --color-dark-faint: #7D6B91;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-color: #E5E5E5;
  font-family: Nunito, sans-serif;
}

button, input{
  outline: none!important;
}

p {
  font-size: 18px;
}

h1 {
  margin: 0
}

@media (max-width: 370px){
  h1 {
    font-size: 37px;
  }
  p {
    font-size: 15px;
  }
  
}
