.HomeLayout{
  display:flex;
  flex-direction:column;
  gap: 2rem;
  padding: 2rem 0;
}


.DiseaseGraphsSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.DiseaseGraphsSection canvas{
 height: auto;
 width: 100%;
}