.HomeLayout{
  display:flex;
  flex-direction:column;
  gap: 3rem;
  padding: 2rem 0;
}

.HomeLink{
  text-decoration: none;
  color: #000;
}

.HomeLink:hover{
  text-decoration: underline;
}

.DiseaseGraphsSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.DiseaseGraphsSection canvas{
 height: auto;
 width: 100%;
}